@font-face {
  font-family: "iconfont"; /* Project id 4769015 */
  src: url('iconfont.woff2?t=1733232818748') format('woff2'),
       url('iconfont.woff?t=1733232818748') format('woff'),
       url('iconfont.ttf?t=1733232818748') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e615";
}

.icon-prev:before {
  content: "\e65f";
}

